.container1 {
  padding: 2em;
  margin: 0 auto !important;
  width: 75%;
  margin-bottom: 15px !important;
}

body {
  background-color: #f5f6f9 !important;
}

.inboxMessage {
  position: relative;
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  display: block;
  margin-bottom: 50px !important;
}

.inboxFrom {
  flex: 50%;
  padding: 10px;
  color: #616174;
  font-weight: 400;
}

.inboxFrom p {
  font-style: italic;
}

.inboxFrom a {
  color: #00b685;
}
.inboxFrom a:hover {
  color: #b7d6ce;
  text-decoration: none;
}
.inboxHeader {
  display: flex;
}

.inboxHeader:after {
  content: "";
  display: table;
  clear: both;
}

.inboxMainDate {
  padding: 10px;
  color: #8f8da0;
  text-align: right;
}

.inboxSubject {
  padding: 10px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 2em;
  color: #42414d;
}

.inboxMainMessage {
  padding: 10px;
  width: 85%;
  color: #616174;
  margin-bottom: 2em;
}

.replyButton {
  background-color: #00b685;
  text-decoration: none;
  color: #f1f0f0;
  font-size: 1em;
  border-radius: 3px;
  border-color: #00b685;
  padding: 5px 15px;
  margin-left: 5px;
  font-weight: 400;
}

.inboxBottom {
  display: flex;
}
.inboxBottom:after {
  content: "";
  display: table;
  clear: both;
}
.bottomMessage {
  padding: 10px;
  color: rgb(140, 150, 147);
  font-size: 12pt;
}

.line {
  width: 100%;
  border: 1px solid #efefef;
}

.linebreak {
  white-space: pre-line;
}
